

figcaption{
    color: black;
    font-size: 2rem;
}

figure img{
    width: 25vw;
    height: auto;
    border-radius: 10px;
}

figure{
    /* border: 2px solid black; */
    width: 30vw;
    cursor: pointer;
}


