@media screen and (min-width: 1200px){
    .card-container{
    display: flex;
    flex-direction: row;
    /* width: 80%; */
    /* overflow: auto; */
    /* margin: auto; */
}

.card-container::-webkit-scrollbar {
  display: none;
  
}
}

@media screen and (max-width: 1200px){
    .card-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
    
    .card-container::-webkit-scrollbar {
      display: none;
    }
}

.flex-header{
    color: black;
    text-align: center;
    padding: 0.5rem; 
}

/* @media screen and (min-width: 1200px){
.card-container{
  display: flex;
  flex-direction: row;
  width: 80%;
}}
@media screen and (max-width: 1200px){
  .card-container{
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
  }
  
  .card-container::-webkit-scrollbar {
    display: none;
  }
} */





/* .card-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  
}
 

.card-container::-webkit-scrollbar-thumb {
  background: red; 
  
}


.card-container::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
} */


.cardManager{
  background-color: #ffffd7;
  padding: 20px;
  margin: 20px 0;
}